---
import Layout from '../layouts/Layout.astro';
import axios from 'axios';

import Body from '../components/Body/Body.astro';

import lastSave from '../../nhlData.json';
const title = 'Sport Schedule USA';

const activeTeams = [];
const allGames = {}
try {
  const fetchTeams = await axios.get('https://api-web.nhle.com/v1/standings/now');
 
  const dataTeams = await fetchTeams.data.standings;
  dataTeams
    .sort((a, b) => (a.placeName?.default > b.placeName?.default ? 1 : -1))
    .forEach(async (team) => {
      const { teamAbbrev, teamName, teamLogo, divisionName, teamCommonName, conferenceName } = team;
      const teamID = teamAbbrev.default 
      activeTeams.push({
        value: teamID,
        id: teamID,
        label: teamName?.default,
        teamLogo: teamLogo,
        teamCommonName: teamCommonName.default,
        conferenceName,
        divisionName,
      });

       const {data} = await axios.get(`https://api-web.nhle.com/v1/club-schedule-season/${teamID}/now`);
      allGames[teamID] =data.games
       
      
    });
} catch (error) {
  if (activeTeams.length === 0){
    activeTeams.push(lastSave);
  }
}
---

<Layout {title}>
  <main>
    <h1>Welcome to <span class="text-gradient">{title}</span></h1>
    {activeTeams.length && <Body {activeTeams} />}
  </main>
</Layout>

<style></style>
